
.ul {
    list-style: none;
    display: inline-block;
    position: relative;
    bottom: 6px;
}

.li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.li:hover {
    background: white;
    color: black;
}
